    <div class="panel panel-default">
	<img align=right src=/images/wifi.png width=32px></img>
        <div class="panel-heading" style="padding: 0px 0px;">
            <h4>Find us elsewhere</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/dtaht/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.facebook.com/dtaht" class="btn btn-info btn-xs"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://www.twitter.com/#bufferbloat" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://plus.google.com/u/0/explore/bufferbloat" class="btn btn-info btn-xs"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </div>
	<div>
	<i>Network Performance Related Resources</i>
	<br><a href='http://www.bufferbloat.net'>Bufferbloat.net</a> - Where beating bufferbloat all started <br />
	<br><a href='http://www.packetpushers.net'>PacketPushers</a> - Podcasts a about networking <br />
	<br><a href='http://www.wifi'>Wifi stuff</a> - Deep explanations about how wifi works<br />
	<br><a href='https://gettys.wordpress.com/'>Jim Gettys' Blog</a> - The chairman of the Fjord <br />
	<br><a href='https://plus.google.com/wm/1/+AaronWood77/'>Aaron Wood's</a> - An enthusiastic debloater <br />
	<br><a href='http://the-edge.taht.net'>Dave Taht's Blog</a> - Where Dave rants about other stuff than bloat <br />
	<br><a href='http://vuc.me'>Voip Users Conference</a> - Weekly Videoconference mostly about voip<br />
	</div>
    </div>
