    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Find me elsewhere.</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/dtaht/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.facebook.com/dtaht" class="btn btn-info btn-xs"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://www.twitter.com/mtaht" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://plus.google.com/u/0/107942175615993706558/posts" class="btn btn-info btn-xs"><i class="fa fa-google-plus-square fa-2x"></i></a>

        </div>
    </div>
