    <div class="panel panel-default">
	<img align=right src=/images/wifi.png width=32px></img>
        <div class="panel-heading" style="padding: 0px 0px;">
            <h4>Find us elsewhere</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/dtaht/" class="btn btn-primary btn-xs"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="https://www.facebook.com/dtaht" class="btn btn-info btn-xs"><i class="fa fa-facebook-square fa-2x"></i></a>
            <a href="https://www.twitter.com/#bufferbloat" class="btn btn-info btn-xs"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a href="https://plus.google.com/u/0/explore/bufferbloat" class="btn btn-info btn-xs"><i class="fa fa-google-plus-square fa-2x"></i></a>
        </div>
	<div>
	<font size=+1> <i><a href='http://www.bufferbloat.net/projects/cerowrt'>CeroWrt</a>
	Related Projects</i></font><hr /><br />
	<a href='http://www.openwrt.org'>OpenWrt</a><br />
	<a href='https://flent.org'>Flent latency under load test suite</a><br />
	<a href='https://github.com/tohojo/sqm-scripts'>Sqm-Scripts</a><br />
	<a href='http://www.bufferbloat.net/projects/codel/wiki/Cake'>The Cake shaper</a><br />
	<a href='http://caia.swin.edu.au/freebsd/aqm/'>AQMs in BSD</a><br />
	<a href='https://tools.ietf.org/wg/aqm/'>IETF AQM WG</a> <br />
        </div>
	<div>
	<font size=+1><i>Network Performance Related Resources</i></font><hr />
	<br /><a href='http://www.bufferbloat.net'>Bufferbloat.net</a> - Where beating bufferbloat all started <br />
	<a href='http://www.packetpushers.net'>PacketPushers</a> - Podcasts about networking <br />
	<a href='http://www.cleartosend.net/'>Wireless networking podcast</a> - Deep explanations about how wifi works<br />
	<a href='https://gettys.wordpress.com/'>Jim Gettys' Blog</a> - The chairman of the Fjord <br />
	<a href='https://plus.google.com/wm/1/+AaronWood77/'>Aaron Wood's</a> - An enthusiastic debloater <br />
	<a href='http://the-edge.taht.net'>Dave Taht's Blog</a> - Where Dave rants about other stuff than bloat <br />
	<a href='http://vuc.me'>Voip Users Conference</a> - Weekly Videoconference mostly about voip<br />
	</div>
    </div>
